@font-face {
font-family: "Quicksand-Regular";
src: url("../quicksand/Quicksand-Regular.otf");
}
@font-face {
font-family: "Quicksand-Light";
src: url("../quicksand/Quicksand-Light.otf");
}
@font-face {
font-family: "Quicksand-Bold";
src: url("../quicksand/Quicksand-Bold.otf");
}


section {
    height:100vh;
    width: 100vw;
    padding-top:50px;
    padding-bottom:50px;
    
    /*overflow:auto;*/
}

hr {
  width: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.bg-1 {
	background: url('../images/bg2_trans.png') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    background-position: bottom;

}
  
.bg-2 {
	background: url('../images/bg1_trans.png') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
    background-position: bottom;

}
.bg-2 h1{
  text-shadow: 2px 2px 4px #000000;
  margin-top: 10%;
}

.bg-3 {
	background: url('../images/bg3_trans.png') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}

#footer a {
  color:#efefef;
}


.image{
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.title-wrapper{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10%;
  text-shadow: 2px 2px 4px #000000;
  max-width: 100vw;
  /*padding:20px 20px 20px 20px;*/
}
.title-wrapper h1{ font-family: "Quicksand-Bold"; font-size: 100px;}
.title-wrapper p{font-family: "Quicksand-Regular"; font-size: 32px;}

body, html{background-color:  #FFF7F0 !important;}
.divider {
    height:25px;
}
.container{
    
}
.divider .container {
    background-color:  #FFF7F0;
}
.summary h3{font-family: "Quicksand-Regular";}
.summary h2{font-family: "Quicksand-Bold";}
.summary p{font-family: "Quicksand-Regular";}
hr{
    border-width: 5px;
}



.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  bottom:5em;
  margin-left:-5em;
  background: #111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  /*border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;*/
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}
.arrow-wrap:hover{
  border-color: #FFF0E0;
}
.arrow:hover{
  border-color: #FFF0E0 transparent transparent transparent;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #FFFFFF transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
/*same color as wrapper to create line arrow*/
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

 @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }

  #footer h2{
    font-family: "Quicksand-Regular";
    text-decoration: none;
    color: #FFFFFF;
  }
  #footer a{
    font-family: "Quicksand-Light";
    text-decoration: none;
    color: #E6E6E6;
  }
  #footer a:hover{
    color: #FFFFFF;
  }
  .copyright{
    color: white;
  }
  .about h3{
    font-family: "Quicksand-Regular";
  }
  .about h2 {
    font-family: "Quicksand-Bold";
  }
  .about p{
    color: #111;
    font-family: "Quicksand-Regular";
  }
  .about{
    text-align: justify;
  }
  .coffee{
    margin-top: 15%;
    
    text-shadow: 2px 2px 4px #000000;
    font-size: 128px;
  }
  .work h1{
    font-family: "Quicksand-Bold";
  }
  .work p{
    font-size: "Quicksand-Regular";
  }
  .work{text-align: center;}
