@font-face {
font-family: "Quicksand-Regular";
src: url("../quicksand/Quicksand-Regular.otf");
}
@font-face {
font-family: "Quicksand-Light";
src: url("../quicksand/Quicksand-Light.otf");
}
@font-face {
font-family: "Quicksand-Bold";
src: url("../quicksand/Quicksand-Bold.otf");
}

body{
	background-color: #FFF7F0;

}
.btn{
	display: inline-block;
	position: fixed;
}
.container{
	
}
.header{
	
}
h1, h2, h3{
	text-align: center;
	font-family: "Quicksand-Bold";
}
p{
	font-family: "Quicksand-Regular";
	text-align: justify;
}
#title{
	text-align: center;
}